# Core
flask
flask-login
flask-mail
flask-migrate
flask-moment
flask-sslify
flask-wtf
jinja-partials

# Database
psycopg2
sqlmodel

email-validator
pillow
pydantic

# Environment
python-dotenv

# Security
passlib[argon2]

# Testing
flake8
pytest
pytest-cov

# Server
gunicorn

# Development
faker