<div class="container col-md-7 col-lg-8 mx-auto">
    <form class="needs-validation"
          action="{{ url_for('auth.change_email') }}"
          method="post"
          novalidate>
        {{ form.hidden_tag() }}

        <div class="row g-3">
            <div class="col-12">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="jane.doe@example.com") }}
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <div class="invalid-feedback">
                </div>
            </div>
            <div class="col-12">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <div class="invalid-feedback">
                </div>
            </div>
        </div>

        <hr class="my-4">
        {{ form.submit(class="w-100 btn btn-primary btn-lg") }}
    </form>
</div>
