<footer class="text-center bg-dark pt-2 mt-auto">
    <div class="text-white-50">
        <p>Copyright <i class="far fa-copyright pt-3"></i> {{ now.year }}
            Neurothrone. All rights reserved</p>
        <p>Made with <span class="footer-heart">&hearts;</span> for students of
            <a
                    class="text-decoration-none"
                    href="https://teknikhogskolan.se/">Teknikhögskolan
            </a>
        </p>
    </div>

    <div class="mb-3">
        <a class="text-decoration-none" href="#">Back to top</a>
    </div>

    <!-- Language support -->
    <p class="text-white">
        <a class="text-reset text-decoration-none"
           href="#">English</a>
        <span class="text-white-50">|</span>
        <a class="text-reset text-decoration-none"
           href="#">Swedish</a>
    </p>
</footer>
