{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div aria-live="polite" aria-atomic="true" class="position-relative toast-overlay">
            <div class="toast-container top-0 position-absolute end-0 p-3">
                {% for category, message in messages %}
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header {{ category|flash }}">
                            <strong class="me-auto text-white">{{ category|title }}</strong>
                            <button class="btn-close fs-5" type="button"
                                    data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                        </div>
                        <div class="toast-body bg-white bg-opacity-75">
                            <span class="text-dark">{{ message }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endwith %}